@font-face {
  font-family: proxima-nova, sans-serif;
  src: url(./static/fonts/proximanova-regular.otf);
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    color: #db736b;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }
  p :not(.MuiTypography-root) :not(a) {
    color:  #191919;
  }
  h3 {
    color:  #191919;
    font-weight: bolder;
    line-height: 1.3em;

  }
  li {
    color:  #191919;
  }
  img {
    max-width: 90%;
  }
  .image-gallery-slides {
    text-align: center;
    }


  .image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: #db736b; 
  }